* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

body {
  background-color: hsl(30, 38%, 92%);
}

.container {
  max-width: 100px;
  max-height: 120px;
  margin-left: 28rem;
  margin-top: 6rem;
}
